/* Couleurs */

$primaire :#9356DC;
$secondaire : #FF79DA;
$tertiaire : #99E2D0;
$darkblue : #003A68;
$blue : #89C8FA;
$greenfont: #008766;
$background: #F7F7F7;
$grey: #353535;
$lightgrey: #EAEAEA;


/* bouton */

@mixin background { background: linear-gradient($secondaire,$primaire)}