/* bouton */

.btn{
    @include background;
    border-radius: 25px;
    height: 45px;
    border: none;
    width: 220px;
    box-shadow: 5px 6px 7px #0000002e;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 15px;
    transition: transform 0.4s;

    &__text{
      font-size: 16px;
      color: white;
      text-align: center;
    }
    
    &:hover{
      cursor: pointer;
      transform: scale(1.02);
      opacity: 0.8;
      box-shadow: 5px 10px 20px #00000080;
    }
}