/* subheader */

.subheader {
  margin: 4px 0;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  background-color: $lightgrey;
  #localisation{
    border: none;
    width: 100px;
    background-color: $lightgrey;
    outline: none;
  }

  
  /* subheader des menus */
  &__image{
    width: 100%;
    height: 270px;
    margin-top: -15px;
    object-fit: cover;
  } /* subheader des menus */
  
}
